*.pyc
*.egg-info
bower_components
.Python

external/
#pypinsobj
#py-spidev
#SPI-Py
#mrfc522
#hcsr04sensor
#Adafruit_Python_TMP
#Adafruit_Python_GPIO


# ignore configs
*.ini


*.swp
.AppleDouble
._*
.DS_Store
.DS_Store?


