*.pyc
*.egg-info
bower_components
.Python

#external/
#pypinsobj
external/py-spidev
external/SPI-Py
external/mrfc522
external/hcsr04sensor
external/Adafruit_Python_TMP
external/Adafruit_Python_GPIO


# ignore configs
*.ini


*.swp
.AppleDouble
._*
.DS_Store
.DS_Store?


